
body{
    background: #f4f2ec url(../images/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container{
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}

a:hover{
    color:#227115;
}

#logo{
    float: left;
}

#logo a{
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../images/logo.png) no-repeat;
}

header{
    padding: 15px 0;
    height: 55px;
}

nav ul{
    float: right;
    list-style: none;
    margin: 20px;
}

ul li{
    float: left;
}

nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
}

nav ul li a:hover{
    border-bottom: 1px solid #227115;
}

/*|Conteúdo da Página*/

/*|Conteúdo Principal*/

main{
    width: 710px;
    float: left;
}

article{
    width: 345px;
    display: block;
    float: left;
    padding: 10px;
    box-sizing:border-box;
}

#video, #texto1{
    margin-right: 20px;
}

h3{
    color: #227115;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1 em;
}
/*Fim Conteúdo Principal*/

aside{
    width: 350px;
    float: right;
    padding-bottom: 50px;
}

#visita{
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}
 h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
 }

 input{
    height: 20px;
    width: 80px;
    background-color: #FFF;
    border: none;
    font-size: 1em;
 }

 .campo {
    border: 1px solid #ada484
 }

 .botao{
    background-color: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
 }

 #galeria a{
background: url(../images/fundo-foto.png) no-repeat;
display: block;
float: left;
margin-top:5px;
margin-left:27px;
padding: 18px;
 }

 #galeria h4{
    margin-left:27px
 }
/*|Fim da Página*/

footer{
    clear: both;
    width: 100%;
    background: url(../images/fundo-rodape.png) top center no-repeat;
    padding: 20px 0;
    text-align: center;
}
footer a{
    padding: 10px;
}